# Various temp files.
*.DS_Store
*.swp
*.swo
.vagrant
.idea

# Ignore environment specific configuration.
docroot/wp-config.php

# Ignore Wordpress core, contrib projects, and Composer's vendor dir.
vendor
!/docroot
/docroot/*
!/docroot/wp-content/
/docroot/wp-content/*
!/docroot/wp-content/mu-plugins/
/docroot/wp-content/mu-plugins/*
!/docroot/wp-content/plugins/
/docroot/wp-content/plugins/*
!/docroot/wp-content/themes/
/docroot/wp-content/themes/*

# Track our custom functionality
!/docroot/index.php
!/docroot/wp-config.php
!/docroot/wp-config.local-example.php
!/docroot/wp-content/plugins/my-custom-plugin/
!/docroot/wp-content/themes/my-custom-theme/

 # Tugboat Example Specific. Don't ignore this in your project.
 /composer.lock