# Various temp files.
*.DS_Store
*.swp
*.swo
.vagrant
.idea

# Ignore Wordpress core and Composer's vendor dir.
docroot/*
!docroot/.htaccess
vendor

# Ignore environment specific configuration.
wp-config.php
